* {
    font-family: 'Noto Sans Osmanya', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ----------header---------- */
.headerStyle {
    background-color: rgb(46, 61, 78);
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
}
.headerTxt {
    background-color: blue;
    width: 50vw;
    height: 8vh;
    align-items: center;
    justify-content:space-evenly;
    display: flex;

}

.startCss {
    background-color: aqua;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}


/* ----------section 1---------- */
.section1img {
    width: 15%;
    padding-top: 3%;
}
.section1txt{
    /* justify-content: space-between; */
}
.section1bottom {
    padding-bottom: 5%;
}

/* ----------section 2---------- */
/* .imgSize {
    width: 50%;
    border-radius: 3px;
}
.imgStyle {
    display: inline-flex;
}
.container2 {
    /* flex-direction:row;
    flex-wrap: wrap; */
.section2 {
    background-color: blue;
    height: 70vh;
    width: 100vw;
    display: flex;
    /* horizontlzment */
    justify-content: center;
    /* verticalement */
    align-items: center;
    flex-direction: column;
}
.container {
    background-color: pink;
    height:50vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.container img {
    width: 15vw;
}


/* ----------section 3---------- */
.sectionAbout {
    background-color: chartreuse;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerAbout {
    background-color: coral;
    height:28vh;
    width: 45vw;
    
}



.sectionRose {
    background-color: rgb(240, 72, 80);
    color:white;
}

.sectionGrey {
    background-color: rgb(46, 61, 78);
    color: white;
}

footer {
    background-color: rgb(28, 37, 46);
    color:whitesmoke;
    text-align: center;
    font-size: x-small;
}

.coloredPolice {
    color: rgb(28, 37, 46);
}

.sendButton {
    background-color: rgb(240, 72, 80);
    color: white;
    border-radius: 2px;
    margin:20px;
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
}


